.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .addBtn {
    background-color: rgb(179, 212, 255);
    border: 1px solid rgb(179, 212, 255);
    border-radius: 20px;
    width: 200px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    font-size: 25px;
    transition: transform 0.2s ease; /* Smooth transition effect */
  }
  
  .addBtn:hover {
    transform: scale(1.1); /* Increase size by 10% when hovered */
  }

  @media screen and (max-width: 900px) {
    .addBtn {
      left: 50%;
      top: 14%;
    }
  }
}
