.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    max-height: 100vh;
    

    .itemDiv {
      min-width: 200px;
      max-width: 200px;
      min-height: 250px;
      max-height: 250px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      overflow: hidden;
      padding: 10px;
      background-color: rgb(252, 252, 252);
      border-radius: 20px;
      box-shadow: rgba(29, 101, 209, 0.25) 0px 13px 27px -5px,
        rgba(26, 57, 190, 0.3) 0px 8px 16px -8px;
    }
    .itemDiv:hover {
      transform: translateY(1.8px);
      cursor: pointer;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  button {
    background: none;
    border: none;
    padding: 8px;
    font-size: 20px;
  }
  button:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
.img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.301) 0px 4px 12px;
}
