.cover {
  position: relative;
  height: 100%;
  top: -80%;
  background-color: white;
  .modal {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    padding: 80px 20px 200px 20px;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
